
*.jpg
*.fits
*.log
*.csv
*.epsf
*.keep
__pycache__/VerticalScrolledFrame.cpython-311.pyc
__pycache__/VerticalScrolledFrame.cpython-311.pyc
popupWindowExample.py
*.pyc
grid_example.py
HideWindow.py
pack_exampe.py
popupBonus.py
popupButton.py
popupMessage.py
.venv0*
.maophot1*
.vscode/launch.json
2022 8 1 V1117 Her (Example)/V1117 Her 25pct_60.00s_FILTER-B.fit.csv
2022 8 1 V1117 Her (Example)/V1117 Her 25pct_60.00s_FILTER-V.fit.csv
build/MAOPhot/Analysis-00.toc
build/MAOPhot/base_library.zip
build/MAOPhot/EXE-00.toc
build/MAOPhot/MAOPhot.pkg
build/MAOPhot/PKG-00.toc
build/MAOPhot/PYZ-00.pyz
build/MAOPhot/PYZ-00.toc
build/MAOPhot/warn-MAOPhot.txt
build/MAOPhot/xref-MAOPhot.html
dist/MAOPhot.exe
Output/MAOPhot_SETUP.exe
.config
__pycache__/*

