
*.jpg
*.fits
*.log
2022 6 5 W Her/W Her B_CROP_60.fit.csv
2022 6 5 W Her/W Her V_CROP_60.fit.csv
2022 6 5 W Her/W Her-Master-Report.csv
2022 6 5 W Her/aavso_reports/AAVSO W Her V_CROP_60 W Her.txt
2022 8 1 V1117 Her/V1117 Her-Master-Report.csv
2022 8 1 V1117 Her/V1117_Her_B.fit.csv
2022 8 1 V1117 Her/V1117_Her_V.fit.csv
2022 9 16 Y And/Y And_30pct-B.fit.csv
2022 9 16 Y And/Y And_30pct-V.fit.csv
2022 9 16 Y And/Y And-Master-Report.csv
2022 9 16 Y And/aavso_reports/AAVSO Y And_30pct-V Y And.txt
2022 6 5 W Her/W Her B_CROP_60.xlsx
2022 6 5 W Her/aavso_reports/AAVSO W Her B_CROP_60 W Her_single.txt
2022 6 5 W Her/VPhotResults/AAVSOReport_SingleColor MAOPhot Test from VPhot.txt
2022 8 1 V1117 Her/aavso_reports/AAVSO V1117_Her_B V1117 Her_single.txt
__pycache__/VerticalScrolledFrame.cpython-311.pyc
__pycache__/VerticalScrolledFrame.cpython-311.pyc
